In [1]:
import numpy as np
import os.path
import pandas as pd
from statistics import mean, mode
from datetime import datetime, timedelta
import random
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
###########################################################
from tqdm import tqdm# barras de progreso
###########################################################
#Para no visualizar la salida de la intruccion to_datetime
from contextlib import redirect_stdout
import io

path = os.getcwd()
os.getcwd()

dataframe = pd.read_csv('C:\\Users\\PC\\Desktop\\Narco\\entropía\\base_actualizada.csv')
# Eliminar la información de la hora en las columnas de fecha
dataframe['date_start'] = dataframe['date_start'].str.split().str[0]
dataframe['date_end'] = dataframe['date_end'].str.split().str[0]
# Creamos un flujo nulo para redirigir la salida
null_stream = io.StringIO()
with redirect_stdout(null_stream):
    dataframe['date_start'] = pd.to_datetime(dataframe['date_start'], format='%m/%d/%Y')
    dataframe['date_end'] = pd.to_datetime(dataframe['date_end'], format='%m/%d/%Y')
#Calculamos la duración del conflicto
dataframe['duration'] = dataframe['date_end']-dataframe['date_start']
# Filtra los eventos cuya duración sea menor o igual a 3 días
filtered_df = dataframe[dataframe['duration'] <= pd.Timedelta(days=3)]
print("Número de columnas, filas:", dataframe.shape)
print("Número de columnas, filas:", filtered_df.shape)
database = pd.DataFrame()
database['date'] = filtered_df['date_start']
database['adm_1'] = filtered_df['adm_1']
database['adm_2'] = filtered_df['adm_2']
database['cart_a'] = filtered_df['side_a']
database['cart_b'] = filtered_df['side_b']
database['mue_a'] = filtered_df['deaths_a']
database['mue_b'] = filtered_df['deaths_b']
database['mue_civ'] = filtered_df['deaths_civilians']
database['mue_desc'] = filtered_df['deaths_unknown']
database['best_est'] = filtered_df['best_est']
database['latitude'] = filtered_df['latitude']
database['longitude'] = filtered_df['longitude']
# Ordenar el DataFrame por la columna de fecha en orden descendente
database = database.sort_values(by='date', ascending=True)
# Filtrar el DataFrame para eliminar las fechas menores a 2004
#PUES ENTRE 1989 Y 2003 SOLO HUBO 43 EVENTOS, A PARTIR DE 2004 EMPIEZA UNA MAYOR FRECUENCIA ANUAL
database = database[database['date'].dt.year >= 2004]
print("Número de columnas, filas:", database.shape)
# Eliminar las filas que contienen valores NaN en cualquier columna
database = database.dropna()
database = database.reset_index(drop=True)
database.to_csv('Actualizada_filtrada.csv', index=False)

Número de columnas, filas: (14336, 47)
Número de columnas, filas: (13316, 47)
Número de columnas, filas: (13273, 12)

In [2]:
dataframe.head(1)

,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,dyad_new_id,...,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best_est,high_est,low_est,duration
0,MEX-1992-2-14353-10,1992,False,Clear,2,14353,13408,Sinaloa Cartel - Tijuana Cartel,14353,14353,...,1992-09-01,1992-09-30,0,9,0,0,9,9,9,29 days

In [3]:
filtered_df.head(1)

,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,dyad_new_id,...,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best_est,high_est,low_est,duration
2,MEX-1989-3-70-24,1989,False,Clear,3,10,641,Government of Mexico - Civilians,10,1108,...,1989-01-22,1989-01-22,0,0,2,0,2,2,2,0 days

In [5]:
database.head(-1)

,date,adm_1,adm_2,cart_a,cart_b,mue_a,mue_b,mue_civ,mue_desc,best_est,latitude,longitude
0,2004-01-23,Tamaulipas state,Nuevo Laredo municipality,Gulf Cartel,Sinaloa Cartel,0,0,0,3,3,27.484635,-99.522106
1,2004-05-03,Sonora state,Agua Prieta municipality,Juarez Cartel,Sinaloa Cartel,0,0,0,4,4,31.330710,-109.548760
2,2004-05-10,Tamaulipas state,Matamoros municipality,Gulf Cartel,Sinaloa Cartel,0,0,0,5,5,25.879720,-97.504170
3,2004-08-15,Nuevo León state,Montemorelos municipality,Gulf Cartel,Sinaloa Cartel,0,0,0,1,1,25.189090,-99.828650
4,2004-08-23,Chihuahua state,Juárez municipality,Juarez Cartel,Sinaloa Cartel,0,0,0,3,3,31.739444,-106.486944
...,...,...,...,...,...,...,...,...,...,...,...,...
12780,2022-12-30,Baja California state,Tijuana municipality,Jalisco Cartel New Generation,Sinaloa Cartel,0,0,0,1,1,32.502700,-117.003710
12781,2022-12-30,Baja California state,Tijuana municipality,Jalisco Cartel New Generation,Sinaloa Cartel,0,0,0,1,1,32.502700,-117.003710
12782,2022-12-30,Baja California state,Tijuana municipality,Jalisco Cartel New Generation,Sinaloa Cartel,0,0,0,2,2,32.502700,-117.003710
12783,2022-12-30,Chihuahua state,Juárez municipality,Juarez Cartel,Sinaloa Cartel,0,0,0,1,1,31.739444,-106.486944
12784,2022-12-31,Guanajuato state,Irapuato municipality,Jalisco Cartel New Generation,Santa Rosa de Lima Cartel,0,0,0,1,1,20.593898,-101.464856